<div class="gallery-container">
  <div class="gallery-item">
    <img src="/content/media/defects/new/AC_FROZEN_OUTSIDE_LINE.JPG" alt="">
    <img src="/content/media/defects/new/BRICK_BIG_HOLE.jpg" alt="">
    <img src="/content/media/defects/new/CABINET_WALL_HOLE.jpg" alt="">
    <img src="/content/media/defects/new/PORCH_CEILING_PANEL.jpg" alt="">
    <img src="/content/media/defects/new/SIDING_BOWED.jpg" alt="">
    <img src="/content/media/defects/new/SIDING_GAPS.jpg" alt="">
    <img src="/content/media/defects/new/SIDING_WAVY.jpg" alt="">
    <img src="/content/media/defects/new/TRIM_GARAGE_DOOR_LOOSE.jpg" alt="">
  </div>
</div>
