.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.gallery-item {
    flex-grow: 3;
    flex-shrink: 3;
    justify-content: space-evenly;
    align-items: stretch;
    border: 5px;
}