<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="Site">
      {{ partial "header.html" . }}
      {{ partial "navbar.html" . }}
    <main class="Site-content">
      <a class="backarrow" href="/gallery">&#8617;</a>
      <div class="gallery-container">
        <div class="gallery-item">
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis totam delectus laborum aliquam vero. Quia eveniet enim sed cum illo facere alias, dolores dolore delectus saepe vero, nostrum veniam officia!</div>
          <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, eum! Voluptas exercitationem totam ipsa minima ut error aspernatur eligendi nisi eum? Officia a nisi natus totam placeat suscipit quisquam aut.</div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ex porro architecto eligendi iusto temporibus doloremque alias similique non culpa praesentium, sunt dolorum quas fuga? Aspernatur iste quas ratione accusantium!</div>
        </div>
      </div>
    </main>
      {{ partial "footer.html" . }}
  </body>
</html>
